In [2]:
#! ipython suppress id=a299071e366b4bd590198b85b8625f2b
%pushd book-materials
import numpy as np
import pandas as pd
PREVIOUS_MAX_ROWS = pd.options.display.max_rows
pd.options.display.max_rows = 25
pd.options.display.max_columns = 20
pd.options.display.max_colwidth = 82
np.random.seed(12345)
import matplotlib.pyplot as plt
plt.rc("figure", figsize=(10, 6))
np.set_printoptions(precision=4, suppress=True)

[WinError 2] Nie można odnaleźć określonego pliku: 'book-materials'
c:\Users\user\SynologyDrive\pythonapps\pyth w analizie danych helion\examples from book

In [3]:
#! ipython suppress id=835e9c4e6d3942638244064db595a5bd
import numpy as np
import pandas as pd

In [4]:
#! ipython id=290a88142afe4854bc724c7a6c735bae
float_data = pd.Series([1.2, -3.5, np.nan, 0])
float_data

0    1.2
1   -3.5
2    NaN
3    0.0
dtype: float64

In [5]:
#! ipython id=4b91ad05aea045cdbf13b5900cc1f73e
float_data.isna()

0    False
1    False
2     True
3    False
dtype: bool

In [6]:
#! ipython id=8996ec87330f486b96f59f1f394ccf6a
string_data = pd.Series(["aardvark", np.nan, None, "avocado"])
string_data
string_data.isna()
float_data = pd.Series([1, 2, None], dtype='float64')
float_data
float_data.isna()

0    False
1    False
2     True
dtype: bool

In [7]:
#! ipython id=6dfb795c00c24da9a66cdd66870f9fa9
data = pd.Series([1, np.nan, 3.5, np.nan, 7])
data.dropna()

0    1.0
2    3.5
4    7.0
dtype: float64

In [8]:
#! ipython id=ce4c091e5f824312b06c6b1d6ff531fb
data[data.notna()]

0    1.0
2    3.5
4    7.0
dtype: float64

In [9]:
#! ipython id=be32168b85724034b62a96f6fb6e7f2c
data = pd.DataFrame([[1., 6.5, 3.], [1., np.nan, np.nan],
                     [np.nan, np.nan, np.nan], [np.nan, 6.5, 3.]])
data
data.dropna()

     0    1    2
0  1.0  6.5  3.0

In [10]:
#! ipython id=fc78d6354b4541f3a1c2416275e68c76
data.dropna(how="all")

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
3  NaN  6.5  3.0

In [11]:
#! ipython id=87ba756b91eb4dd09d1b7e647a8ae7b9
data[4] = np.nan
data
data.dropna(axis="columns", how="all")

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [12]:
#! ipython id=93bc1cf6fc10429a924cea596353e388
df = pd.DataFrame(np.random.standard_normal((7, 3)))
df.iloc[:4, 1] = np.nan
df.iloc[:2, 2] = np.nan
df
df.dropna()
df.dropna(thresh=2)

          0         1         2
2  0.092908       NaN  0.769023
3  1.246435       NaN -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [13]:
#! ipython id=ceee3ece49cc4169a1f8ac1e6954accd
df.fillna(0)

          0         1         2
0 -0.204708  0.000000  0.000000
1 -0.555730  0.000000  0.000000
2  0.092908  0.000000  0.769023
3  1.246435  0.000000 -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [14]:
#! ipython id=a03bb4bc12e24a3e941daa79068471ff
df.fillna({1: 0.5, 2: 0})

          0         1         2
0 -0.204708  0.500000  0.000000
1 -0.555730  0.500000  0.000000
2  0.092908  0.500000  0.769023
3  1.246435  0.500000 -1.296221
4  0.274992  0.228913  1.352917
5  0.886429 -2.001637 -0.371843
6  1.669025 -0.438570 -0.539741

In [15]:
#! ipython id=bf828716b9e04ef5a37200b5d5086b47
df = pd.DataFrame(np.random.standard_normal((6, 3)))
df.iloc[2:, 1] = np.nan
df.iloc[4:, 2] = np.nan
df
df.fillna(method="ffill")
df.fillna(method="ffill", limit=2)

          0         1         2
0  0.476985  3.248944 -1.021228
1 -0.577087  0.124121  0.302614
2  0.523772  0.124121  1.343810
3 -0.713544  0.124121 -2.370232
4 -1.860761       NaN -2.370232
5 -1.265934       NaN -2.370232

In [16]:
#! ipython id=77b2b4714bd14dffb5e6b407fd0df952
data = pd.Series([1., np.nan, 3.5, np.nan, 7])
data.fillna(data.mean())

0    1.000000
1    3.833333
2    3.500000
3    3.833333
4    7.000000
dtype: float64

In [17]:
#! ipython id=944377d16cdc466cb0a9e64fa1f79d5b
data = pd.DataFrame({"k1": ["one", "two"] * 3 + ["two"],
                     "k2": [1, 1, 2, 3, 3, 4, 4]})
data

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4
6  two   4

In [18]:
#! ipython id=bd2994de11fd4012a835bd0ee2bcf4cb
data.duplicated()

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [19]:
#! ipython id=ac1c8d333c8d40068f33556cee5cb8b4
data.drop_duplicates()

    k1  k2
0  one   1
1  two   1
2  one   2
3  two   3
4  one   3
5  two   4

In [20]:
#! ipython id=ac73e11080b04551bdf1a23729e75793
data["v1"] = range(7)
data
data.drop_duplicates(subset=["k1"])

    k1  k2  v1
0  one   1   0
1  two   1   1

In [21]:
#! ipython id=eb735c97c9b744aa923b8fb94ae22f64
data.drop_duplicates(["k1", "k2"], keep="last")

    k1  k2  v1
0  one   1   0
1  two   1   1
2  one   2   2
3  two   3   3
4  one   3   4
6  two   4   6

In [22]:
#! ipython id=4fd09f7a425741d5b1f61a28f2ec73a2
data = pd.DataFrame({"food": ["bacon", "pulled pork", "bacon",
                              "pastrami", "corned beef", "bacon",
                              "pastrami", "honey ham", "nova lox"],
                     "ounces": [4, 3, 12, 6, 7.5, 8, 3, 5, 6]})
data

          food  ounces
0        bacon     4.0
1  pulled pork     3.0
2        bacon    12.0
3     pastrami     6.0
4  corned beef     7.5
5        bacon     8.0
6     pastrami     3.0
7    honey ham     5.0
8     nova lox     6.0

In [23]:
#! ipython verbatim id=1459d863e4e2488884aa21b5841fa88d
meat_to_animal = {
  "bacon": "pig",
  "pulled pork": "pig",
  "pastrami": "cow",
  "corned beef": "cow",
  "honey ham": "pig",
  "nova lox": "salmon"
}

In [24]:
#! ipython id=a779fa7330de487fb907e801bf054696
data["animal"] = data["food"].map(meat_to_animal)
data

          food  ounces  animal
0        bacon     4.0     pig
1  pulled pork     3.0     pig
2        bacon    12.0     pig
3     pastrami     6.0     cow
4  corned beef     7.5     cow
5        bacon     8.0     pig
6     pastrami     3.0     cow
7    honey ham     5.0     pig
8     nova lox     6.0  salmon

In [25]:
#! ipython id=4c24af18964744eda625a480f5cdd126
def get_animal(x):
    return meat_to_animal[x]
data["food"].map(get_animal)

0       pig
1       pig
2       pig
3       cow
4       cow
5       pig
6       cow
7       pig
8    salmon
Name: food, dtype: object

In [26]:
#! ipython id=ec9f0e43f8da42ed8b3119331d09c853
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

0       1.0
1    -999.0
2       2.0
3    -999.0
4   -1000.0
5       3.0
dtype: float64

In [27]:
#! ipython id=8fd47d92ab854f47bed89d8a72c9d8a0
data.replace(-999, np.nan)

0       1.0
1       NaN
2       2.0
3       NaN
4   -1000.0
5       3.0
dtype: float64

In [28]:
#! ipython id=6bd3f8909caf4eed928f7164f277f8ef
data.replace([-999, -1000], np.nan)

0    1.0
1    NaN
2    2.0
3    NaN
4    NaN
5    3.0
dtype: float64

In [29]:
#! ipython id=467da543042d473aa9ed8b43e5daefec
data.replace([-999, -1000], [np.nan, 0])

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [30]:
#! ipython id=e3dfba217f5a460d9bdf04ba573481ad
data.replace({-999: np.nan, -1000: 0})

0    1.0
1    NaN
2    2.0
3    NaN
4    0.0
5    3.0
dtype: float64

In [31]:
#! ipython id=103a514cd451404fbc7b559bab5ea87c
data = pd.DataFrame(np.arange(12).reshape((3, 4)),
                    index=["Ohio", "Colorado", "New York"],
                    columns=["one", "two", "three", "four"])

In [32]:
#! ipython id=aabdeea6a25f49a5a6949527b7d345bb
def transform(x):
    return x[:4].upper()

data.index.map(transform)

Index(['OHIO', 'COLO', 'NEW '], dtype='object')

In [33]:
#! ipython id=8923ced04de44246b6d710395cc93348
data.index = data.index.map(transform)
data

      one  two  three  four
OHIO    0    1      2     3
COLO    4    5      6     7
NEW     8    9     10    11

In [34]:
#! ipython id=d125b3401a124c89a83007e36e3ee758
data.rename(index=str.title, columns=str.upper)

      ONE  TWO  THREE  FOUR
Ohio    0    1      2     3
Colo    4    5      6     7
New     8    9     10    11

In [35]:
#! ipython id=5f8e0d6ff0b4445d886c8ee0fb478191
data.rename(index={"OHIO": "INDIANA"},
            columns={"three": "peekaboo"})

         one  two  peekaboo  four
INDIANA    0    1         2     3
COLO       4    5         6     7
NEW        8    9        10    11

In [36]:
#! ipython id=5b066323cc4944c9938b36f4f8d52779
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

In [37]:
#! ipython id=075935d1c34b41ba9ee1842e23605ad1
bins = [18, 25, 35, 60, 100]
age_categories = pd.cut(ages, bins)
age_categories

[(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

In [38]:
#! ipython id=ce9e07485ac641e291688784a05e841c
age_categories.codes
age_categories.categories
age_categories.categories[0]
pd.value_counts(age_categories)

(18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
Name: count, dtype: int64

In [39]:
#! ipython id=c40f7922de224c5682b37159bfb13adf
pd.cut(ages, bins, right=False)

[[18, 25), [18, 25), [25, 35), [25, 35), [18, 25), ..., [25, 35), [60, 100), [35, 60), [35, 60), [25, 35)]
Length: 12
Categories (4, interval[int64, left]): [[18, 25) < [25, 35) < [35, 60) < [60, 100)]

In [40]:
#! ipython id=5d5d56eba8384d11bd5d38c378c9fbf1
group_names = ["Youth", "YoungAdult", "MiddleAged", "Senior"]
pd.cut(ages, bins, labels=group_names)

['Youth', 'Youth', 'Youth', 'YoungAdult', 'Youth', ..., 'YoungAdult', 'Senior', 'MiddleAged', 'MiddleAged', 'YoungAdult']
Length: 12
Categories (4, object): ['Youth' < 'YoungAdult' < 'MiddleAged' < 'Senior']

In [41]:
#! ipython id=33190ad9f1834874ba7cbd4066d8350b
data = np.random.uniform(size=20)
pd.cut(data, 4, precision=2)

[(0.34, 0.55], (0.34, 0.55], (0.76, 0.97], (0.76, 0.97], (0.34, 0.55], ..., (0.34, 0.55], (0.34, 0.55], (0.55, 0.76], (0.34, 0.55], (0.12, 0.34]]
Length: 20
Categories (4, interval[float64, right]): [(0.12, 0.34] < (0.34, 0.55] < (0.55, 0.76] < (0.76, 0.97]]

In [42]:
#! ipython id=5aa787199f2745d1a2358a097e9b23d9
data = np.random.standard_normal(1000)
quartiles = pd.qcut(data, 4, precision=2)
quartiles
pd.value_counts(quartiles)

(-2.96, -0.68]     250
(-0.68, -0.026]    250
(-0.026, 0.62]     250
(0.62, 3.93]       250
Name: count, dtype: int64

In [43]:
#! ipython id=6df8a2f012ad4735bbc92d478d946e1f
pd.qcut(data, [0, 0.1, 0.5, 0.9, 1.]).value_counts()

(-2.9499999999999997, -1.187]    100
(-1.187, -0.0265]                400
(-0.0265, 1.286]                 400
(1.286, 3.928]                   100
Name: count, dtype: int64

In [44]:
#! ipython id=3979599fd2d247b7a32bf203a5c9a5c7
data = pd.DataFrame(np.random.standard_normal((1000, 4)))
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.049091     0.026112    -0.002544    -0.051827
std       0.996947     1.007458     0.995232     0.998311
min      -3.645860    -3.184377    -3.745356    -3.428254
25%      -0.599807    -0.612162    -0.687373    -0.747478
50%       0.047101    -0.013609    -0.022158    -0.088274
75%       0.756646     0.695298     0.699046     0.623331
max       2.653656     3.525865     2.735527     3.366626

In [45]:
#! ipython id=14662c0a588c488d83d792107f20e528
col = data[2]
col[col.abs() > 3]

41    -3.399312
136   -3.745356
Name: 2, dtype: float64

In [46]:
#! ipython id=2a1bb1c468cf40a58f3c5223a992b59b
data[(data.abs() > 3).any(axis="columns")]

            0         1         2         3
41   0.457246 -0.025907 -3.399312 -0.974657
60   1.951312  3.260383  0.963301  1.201206
136  0.508391 -0.196713 -3.745356 -1.520113
235 -0.242459 -3.056990  1.918403 -0.578828
258  0.682841  0.326045  0.425384 -3.428254
322  1.179227 -3.184377  1.369891 -1.074833
544 -3.548824  1.553205 -2.186301  1.277104
635 -0.578093  0.193299  1.397822  3.366626
782 -0.207434  3.525865  0.283070  0.544635
803 -3.645860  0.255475 -0.549574 -1.907459

In [47]:
#! ipython id=694246321bbd42adbb221b99486f388b
data[data.abs() > 3] = np.sign(data) * 3
data.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.050286     0.025567    -0.001399    -0.051765
std       0.992920     1.004214     0.991414     0.995761
min      -3.000000    -3.000000    -3.000000    -3.000000
25%      -0.599807    -0.612162    -0.687373    -0.747478
50%       0.047101    -0.013609    -0.022158    -0.088274
75%       0.756646     0.695298     0.699046     0.623331
max       2.653656     3.000000     2.735527     3.000000

In [48]:
#! ipython id=d70c02173fe945abad1450a5709b520e
np.sign(data).head()

     0    1    2    3
0 -1.0  1.0 -1.0  1.0
1  1.0 -1.0  1.0 -1.0
2  1.0  1.0  1.0 -1.0
3 -1.0 -1.0  1.0 -1.0
4 -1.0  1.0 -1.0 -1.0

In [49]:
#! ipython id=70d08ca5f48d48018126fd9ab1006314
df = pd.DataFrame(np.arange(5 * 7).reshape((5, 7)))
df
sampler = np.random.permutation(5)
sampler

array([3, 1, 4, 2, 0])

In [50]:
#! ipython id=f7c2008d514b4a549645c2c8a28861d9
df.take(sampler)
df.iloc[sampler]

    0   1   2   3   4   5   6
3  21  22  23  24  25  26  27
1   7   8   9  10  11  12  13
4  28  29  30  31  32  33  34
2  14  15  16  17  18  19  20
0   0   1   2   3   4   5   6

In [51]:
#! ipython id=ffbccf111b60408395f9eb116f6fc39a
column_sampler = np.random.permutation(7)
column_sampler
df.take(column_sampler, axis="columns")

    4   6   3   2   1   0   5
0   4   6   3   2   1   0   5
1  11  13  10   9   8   7  12
2  18  20  17  16  15  14  19
3  25  27  24  23  22  21  26
4  32  34  31  30  29  28  33

In [52]:
#! ipython id=c2429f2bce484acca0f590eed87cb896
df.sample(n=3)

    0   1   2   3   4   5   6
2  14  15  16  17  18  19  20
4  28  29  30  31  32  33  34
0   0   1   2   3   4   5   6

In [53]:
#! ipython id=f98970c0ba4942d880cf0d4076960bc3
choices = pd.Series([5, 7, -1, 6, 4])
choices.sample(n=10, replace=True)

2   -1
0    5
3    6
1    7
4    4
0    5
4    4
0    5
4    4
4    4
dtype: int64

In [54]:
#! ipython id=590105f5b54b4b798b9c925339f1c000
df = pd.DataFrame({"key": ["b", "b", "a", "c", "a", "b"],
                   "data1": range(6)})
df
pd.get_dummies(df["key"])

       a      b      c
0  False   True  False
1  False   True  False
2   True  False  False
3  False  False   True
4   True  False  False
5  False   True  False

In [55]:
#! ipython id=c9bf047cafa2489cb537d963eb18d16a
dummies = pd.get_dummies(df["key"], prefix="key")
df_with_dummy = df[["data1"]].join(dummies)
df_with_dummy

   data1  key_a  key_b  key_c
0      0  False   True  False
1      1  False   True  False
2      2   True  False  False
3      3  False  False   True
4      4   True  False  False
5      5  False   True  False

In [56]:
#! ipython allow_exceptions id=e311a84ee00c40479411ed79fc5a6c69
mnames = ["movie_id", "title", "genres"]
movies = pd.read_table("dane/movielens/movies.dat", sep="::",
                       header=None, names=mnames, engine="python")
movies[:10]

FileNotFoundError: [Errno 2] No such file or directory: 'dane/movielens/movies.dat'

In [ ]:
#! ipython id=8e085399c22341ee9632bf5efcb4a6dc
dummies = movies["genres"].str.get_dummies("|")
dummies.iloc[:10, :6]

In [ ]:
#! ipython id=9b2a0b211d424f6798485b72bd572e08
movies_windic = movies.join(dummies.add_prefix("Genre_"))
movies_windic.iloc[0]

In [ ]:
#! ipython id=f3df965a3e024e918c1e67e647a6589a
np.random.seed(12345) # Aby przykład był powtarzalny
values = np.random.uniform(size=10)
values
bins = [0, 0.2, 0.4, 0.6, 0.8, 1]
pd.get_dummies(pd.cut(values, bins))

In [ ]:
#! ipython id=10771102e8084f5fa4a16200a93d058d
s = pd.Series([1, 2, 3, None])
s
s.dtype

In [ ]:
#! ipython id=66923eb117b34b21b548507e349d387d
s = pd.Series([1, 2, 3, None], dtype=pd.Int64Dtype())
s
s.isna()
s.dtype

In [ ]:
#! ipython id=8a80094d8808433599836ea7197e55b9
s[3]
s[3] is pd.NA

In [ ]:
#! ipython id=43b53a40545c451c94728b65b40c574e
s = pd.Series([1, 2, 3, None], dtype="Int64")

In [ ]:
#! ipython id=85af440e08ae45d9b570c8b65f496567
s = pd.Series(['one', 'two', None, 'three'], dtype=pd.StringDtype())
s

In [ ]:
#! ipython id=81a4d68317534367bdbd458b98a55329
df = pd.DataFrame({"A": [1, 2, None, 4],
                   "B": ["one", "two", "three", None],
                   "C": [False, None, False, True]})
df
df["A"] = df["A"].astype("Int64")
df["B"] = df["B"].astype("string")
df["C"] = df["C"].astype("boolean")
df

In [ ]:
#! ipython id=fe9efc6724224b7b9eccd32750524def
val = "a,b,  guido"
val.split(",")

In [ ]:
#! ipython id=9724ab6a052943e7803c2f855b47b29f
pieces = [x.strip() for x in val.split(",")]
pieces

In [ ]:
#! ipython id=e80b9a9828014622b86c088759d5e5a0
first, second, third = pieces
first + "::" + second + "::" + third

In [ ]:
#! ipython id=06baf1c7f132476f90f73524278f5972
"::".join(pieces)

In [ ]:
#! ipython id=d5571ea9402c4182af832d4b0b659ad4
"guido" in val
val.index(",")
val.find(":")

In [ ]:
#! ipython allow_exceptions id=ee7ecc7978534b3883cf050a76245ba3
val.index(":")

In [ ]:
#! ipython id=6c3ac8963e0348d5900d3b21f3d61421
val.count(",")

In [ ]:
#! ipython id=2385159093a248abbb0b590843359737
val.replace(",", "::")
val.replace(",", "")

In [ ]:
#! ipython id=b430b6ee3c904fa38a207e995ad4e152
import re
text = "foo    bar\t baz  \tqux"
re.split(r"\s+", text)

In [ ]:
#! ipython id=2af33f0f709d42a2853daaabafede024
regex = re.compile(r"\s+")
regex.split(text)

In [ ]:
#! ipython id=746b726a56dd4375a8a459b74d65789c
regex.findall(text)

In [ ]:
#! ipython verbatim id=8f2d09408b41491aa269044fc4375d93
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com"""
pattern = r"[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}"

# Flaga re.IGNORECASE sprawia, że wyrażenie regularne nie zwraca uwagi na wielkość liter.
regex = re.compile(pattern, flags=re.IGNORECASE)

In [ ]:
#! ipython id=4efa726d3118445db3dfa63e69147a3e
regex.findall(text)

In [ ]:
#! ipython id=5d3ea127f5064a0eabafa8f07982c0fe
m = regex.search(text)
m
text[m.start():m.end()]

In [ ]:
#! ipython id=56352eb1b66041658dc4a2df7cdd3659
print(regex.match(text))

In [ ]:
#! ipython id=16b2b19e1790421f8cbfd96272f49964
print(regex.sub("REDACTED", text))

In [ ]:
#! ipython id=48a7da4e764149fc9fbbc73d8836e703
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"
regex = re.compile(pattern, flags=re.IGNORECASE)

In [ ]:
#! ipython id=0e0269c4dfb748a787340d99bd51af16
m = regex.match("wesm@bright.net")
m.groups()

In [ ]:
#! ipython id=ba6371f22b31476d99904236e025caf2
regex.findall(text)

In [ ]:
#! ipython id=adf56cb7344246a4981c9ccbc4520e45
print(regex.sub(r"Username: \1, Domain: \2, Suffix: \3", text))

In [ ]:
#! ipython id=d2dae337d0724a7cabb69f0d2e45d21a
data = {"Dave": "dave@google.com", "Steve": "steve@gmail.com",
        "Rob": "rob@gmail.com", "Wes": np.nan}
data = pd.Series(data)
data
data.isna()

In [ ]:
#! ipython id=b1a32c08159845ad97915762d2e9104c
data.str.contains("gmail")

In [ ]:
#! ipython id=e83b7f3cb11b42ea8344da39bc8313ed
data_as_string_ext = data.astype('string')
data_as_string_ext
data_as_string_ext.str.contains("gmail")

In [ ]:
#! ipython id=abd3d1bd7239406d8d764f812cb04018
pattern = r"([A-Z0-9._%+-]+)@([A-Z0-9.-]+)\.([A-Z]{2,4})"
data.str.findall(pattern, flags=re.IGNORECASE)

In [ ]:
#! ipython id=07c02acaf03844578f9b18af036e96b4
matches = data.str.findall(pattern, flags=re.IGNORECASE).str[0]
matches
matches.str.get(1)

In [ ]:
#! ipython id=140f72f7ebdf44fc832ac76596f1f500
data.str[:5]

In [ ]:
#! ipython id=086c74fc48364b859ab30d4c9278e96d
data.str.extract(pattern, flags=re.IGNORECASE)

In [ ]:
#! ipython id=5e0d1d0145d64d80870482f06001910e
values = pd.Series(['apple', 'orange', 'apple',
                    'apple'] * 2)
values
pd.unique(values)
pd.value_counts(values)

In [ ]:
#! ipython id=6b72957b5a1c4882828b5b6fc55bc645
values = pd.Series([0, 1, 0, 0] * 2)
dim = pd.Series(['apple', 'orange'])
values
dim

In [ ]:
#! ipython id=c4c6450bbb7f4c74b579d4cc989d0547
dim.take(values)

In [ ]:
#! ipython id=922c7a3dfaf5478c8ece876bf6e8c8a4
fruits = ['apple', 'orange', 'apple', 'apple'] * 2
N = len(fruits)
rng = np.random.default_rng(seed=12345)
df = pd.DataFrame({'fruit': fruits,
                   'basket_id': np.arange(N),
                   'count': rng.integers(3, 15, size=N),
                   'weight': rng.uniform(0, 4, size=N)},
                  columns=['basket_id', 'fruit', 'count', 'weight'])
df

In [ ]:
#! ipython id=d3efa50a15b64f78b8ee5d1bffd9e3db
fruit_cat = df['fruit'].astype('category')
fruit_cat

In [ ]:
#! ipython id=5b3590609c7f4a2984add7aefc62727c
c = fruit_cat.array
type(c)

In [ ]:
#! ipython id=4d5fd7e39e7b4dc4bf59a7597a66cbe1
c.categories
c.codes

In [ ]:
#! ipython id=a5d2afb03a3d46fe99b79633b5480fb7
dict(enumerate(c.categories))

In [ ]:
#! ipython id=b4e849ae87304ac1a2b717ecafbf58c4
df['fruit'] = df['fruit'].astype('category')
df["fruit"]

In [ ]:
#! ipython id=adba8c41d0094e49943f4c0f03bfb560
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])
my_categories

In [ ]:
#! ipython id=dbb5b2424ba146f0b001398542f64ae3
categories = ['foo', 'bar', 'baz']
codes = [0, 1, 2, 0, 0, 1]
my_cats_2 = pd.Categorical.from_codes(codes, categories)
my_cats_2

In [ ]:
#! ipython id=2ee990370ede41ddbcf285a6c1330ee0
ordered_cat = pd.Categorical.from_codes(codes, categories,
                                        ordered=True)
ordered_cat

In [ ]:
#! ipython id=27e720c7999143b8bc6fa95797bb78fd
my_cats_2.as_ordered()

In [ ]:
#! ipython id=3268082ea833473888cb6df910208de8
rng = np.random.default_rng(seed=12345)
draws = rng.standard_normal(1000)
draws[:5]

In [ ]:
#! ipython id=6d7daaf08a8240dea51848a3a6cc211d
bins = pd.qcut(draws, 4)
bins

In [ ]:
#! ipython id=6faabc704b9c436fa0e32ac6755e6359
bins = pd.qcut(draws, 4, labels=['Q1', 'Q2', 'Q3', 'Q4'])
bins
bins.codes[:10]

In [ ]:
#! ipython id=0f2080e060dd4d848ff1a9d846c8a71e
bins = pd.Series(bins, name='quartile')
results = (pd.Series(draws)
           .groupby(bins)
           .agg(['count', 'min', 'max'])
           .reset_index())
results

In [ ]:
#! ipython id=4d1f92dfe8e34a6d8173c0aca18d8b55
results['quartile']

In [ ]:
#! ipython id=cb512af2f6bf4eb5b312ae330bd4c91e
N = 10_000_000
labels = pd.Series(['foo', 'bar', 'baz', 'qux'] * (N // 4))

In [ ]:
#! ipython id=2978248572a743be8529a1668d424e8a
categories = labels.astype('category')

In [ ]:
#! ipython id=a16f1610329347ffa2f28661941350b7
labels.memory_usage(deep=True)
categories.memory_usage(deep=True)

In [ ]:
#! ipython id=dd7310d96d4d4c24bb7e3e9ad26b066f
%time _ = labels.astype('category')

In [ ]:
#! ipython id=aca60c356d264f7c872287f1bfdf75c9
%timeit labels.value_counts()
%timeit categories.value_counts()

In [ ]:
#! ipython id=9dd1c0395c0743db8a283da215ae7f50
s = pd.Series(['a', 'b', 'c', 'd'] * 2)
cat_s = s.astype('category')
cat_s

In [ ]:
#! ipython id=84308427acbc491381531a16cd3bcc15
cat_s.cat.codes
cat_s.cat.categories

In [ ]:
#! ipython id=7b07ac0b91ef42809b1183ccc41555c1
actual_categories = ['a', 'b', 'c', 'd', 'e']
cat_s2 = cat_s.cat.set_categories(actual_categories)
cat_s2

In [ ]:
#! ipython id=919709709a4c4c8d93e135d137ea0757
cat_s.value_counts()
cat_s2.value_counts()

In [ ]:
#! ipython id=0350789cd1fe41c6908b5e604ea34eb0
cat_s3 = cat_s[cat_s.isin(['a', 'b'])]
cat_s3
cat_s3.cat.remove_unused_categories()

In [ ]:
#! ipython id=c6b7347f928a4580b5dac67f798d9e28
cat_s = pd.Series(['a', 'b', 'c', 'd'] * 2, dtype='category')

In [ ]:
#! ipython id=95950502e1bc4cfba88e7891c8062ee6
pd.get_dummies(cat_s)

In [ ]:
#! ipython suppress id=b8746f91160c4c9da000aeb4891514bf
%popd

In [ ]:
#! ipython suppress id=621a2c4436a44e5db40091b1e4f8a167
pd.options.display.max_rows = PREVIOUS_MAX_ROWS